//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

@import "components/autocomplete";
@import "components/buttons";
@import "components/email";

// Highlight code
code {
	@include govuk-font($size: 19);
	color: #d13118;
	background-color: govuk-colour("light-grey");
}

// Add a highlight for placeholder content
.placeholder {
	display: inline;
	background-color: lighten(	#fdd522, 25%);
	color: #0b0c0c;
	overflow-wrap: break-word;
	word-wrap: break-word;
	border-radius: 6px;
	box-shadow: inset 0.47em 0 0 0 #fff, inset -0.47em 0 0 0 #fff, inset 0 0.16em 0 0 #fff;

	&:before {
		content: "(("
	}
	&:after {
		content: "))"
	}
}