//
// Relist *some* of the default settings to make changes easier, for more details see:
// https://frontend.design-system.service.gov.uk/sass-api-reference/
//

// COLOURS
@import "./node_modules/govuk-frontend/govuk/helpers/colour";

$govuk-brand-colour: govuk-colour("blue");
$govuk-text-colour: govuk-colour("black");
$govuk-secondary-text-colour: govuk-colour("dark-grey");
$govuk-print-text-colour: #000000;

$govuk-body-background-colour: govuk-colour("white");
$govuk-canvas-background-colour: govuk-colour("light-grey");

$govuk-focus-colour: govuk-colour("yellow");
$govuk-focus-text-colour: govuk-colour("black");

$govuk-error-colour: govuk-colour("red");
$govuk-success-colour: govuk-colour("green");

$govuk-border-colour: govuk-colour("mid-grey");
$govuk-input-border-colour: govuk-colour("black");
$govuk-hover-colour: govuk-colour("mid-grey");

$govuk-button-background-colour: govuk-colour("green");
$govuk-button-text-colour: govuk-colour("white");

$govuk-link-colour: govuk-colour("blue");
$govuk-link-visited-colour: govuk-colour("purple");
$govuk-link-hover-colour: govuk-colour("dark-blue");
$govuk-link-active-colour: govuk-colour("black");


// LINKS
$govuk-link-underline-thickness: unquote("max(1px, .0625rem)");
$govuk-link-underline-offset: .1578em; // 3px / 19px(body font size)
$govuk-link-hover-underline-thickness: unquote("max(3px, .1875rem, .12em)");


// MEASUREMENTS
// Added calc's in to remove sass warnings
$govuk-page-width: 960px;
$govuk-grid-widths: (
	one-quarter: calc(100% / 4),
	one-third: calc(100% / 3),
	one-half: calc(100% / 2),
	two-thirds: calc(200% / 3),
	three-quarters: calc(300% / 4),
	full: 100%
);
$govuk-gutter: 30px;
$govuk-gutter-half: calc($govuk-gutter / 2);
$govuk-border-width: 5px;
$govuk-border-width-wide: 10px;
$govuk-border-width-narrow: 4px;
$govuk-border-width-form-element: 2px;
$govuk-border-width-form-group-error: $govuk-border-width;
$govuk-focus-width: 3px;
$govuk-hover-width: 10px;


// MEDIA QUERIES
$govuk-breakpoints: (
	mobile:  320px,
	tablet:  641px,
	desktop: 769px
);
$govuk-show-breakpoints: false; // Enable only during local development.


// TYPOGRAPHY
$govuk-font-family-gds-transport: "GDS Transport", arial, sans-serif;
$govuk-font-family: $govuk-font-family-gds-transport;
$govuk-font-family-print: sans-serif;
$govuk-font-weight-regular: 400;
$govuk-font-weight-bold: 700;
$govuk-typography-scale: (
	80: (
		null: (
			font-size: 53px,
			line-height: 55px
		),
		tablet: (
			font-size: 80px,
			line-height: 80px
		),
		print: (
			font-size: 53pt,
			line-height: 1.1
		)
	),
	48: (
		null: (
			font-size: 32px,
			line-height: 35px
		),
		tablet: (
			font-size: 48px,
			line-height: 50px
		),
		print: (
			font-size: 32pt,
			line-height: 1.15
		)
	),
	36: (
		null: (
			font-size: 24px,
			line-height: 25px
		),
		tablet: (
			font-size: 36px,
			line-height: 40px
		),
		print: (
			font-size: 24pt,
			line-height: 1.05
		)
	),
	27: (
		null: (
			font-size: 18px,
			line-height: 20px
		),
		tablet: (
			font-size: 27px,
			line-height: 30px
		),
		print: (
			font-size: 18pt,
			line-height: 1.15
		)
	),
	24: (
		null: (
			font-size: 18px,
			line-height: 20px
		),
		tablet: (
			font-size: 24px,
			line-height: 30px
		),
		print: (
			font-size: 18pt,
			line-height: 1.15
		)
	),
	19: (
		null: (
			font-size: 16px,
			line-height: 20px
		),
		tablet: (
			font-size: 19px,
			line-height: 25px
		),
		print: (
			font-size: 14pt,
			line-height: 1.15
		)
	),
	16: (
		null: (
			font-size: 14px,
			line-height: 16px
		),
		tablet: (
			font-size: 16px,
			line-height: 20px
		),
		print: (
			font-size: 14pt,
			line-height: 1.2
		)
	),
	14: (
		null: (
			font-size: 12px,
			line-height: 15px
		),
		tablet: (
			font-size: 14px,
			line-height: 20px
		),
		print: (
			font-size: 12pt,
			line-height: 1.2
		)
	)
);
