{% extends "layouts/main.html" %}

{% set title = 'One Login' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
      <p>Reproducing some of the One Login service screens to include in research settings for context.</p>

      {{ govukInsetText({
        html: '<p>You can pass users into the One Login flow from any other prototypes, you just need to add a return path as part of the URL. For example:</p>
        <p><code> href="/one-login/v1/create-account?onelogin-return=/account-creation/v1/confirmation"</code></p>'
      }) }}


      {% set version = "1" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--yellow govuk-!-margin-left-2',
          text: 'In progress'
        }) }}
      </h2>

      <p>This just covers the sign in process for now and not registration.</p>

      {{ govukButton({
        text: 'View prototype',
        href: 'v'+version+'/create-account'
      }) }}






      {# {% set v1HTML %}
        {% set version = "1" %}
        <p>Information about this version</p>

        <p><a href="#0">View the research outputs on Miro</a>.</p>

        {{ govukButton({
          text: 'View prototype',
          href: '#0'
        }) }}
      {% endset %}

      {{ govukAccordion({
        id: 'previous',
        classes: 'govuk-!-margin-top-9',
        items: [
          {
            heading: {
              html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Researched</strong>'
            },
            content: {
              html: v1HTML
            }
          }
        ]
      }) }} #}

    </div>
  </div>
{% endblock %}

