// Inverse button variables
$govuk-inverse-button-colour: govuk-colour("white");
$govuk-inverse-button-hover-colour: govuk-shade($govuk-inverse-button-colour, 10%);
$govuk-inverse-button-shadow-colour: govuk-shade($govuk-inverse-button-colour, 40%);
$govuk-inverse-button-text-colour: govuk-colour("black");
$button-shadow-size: $govuk-border-width-form-element;

.govuk-button--inverse {
	background-color: $govuk-inverse-button-colour;
	box-shadow: 0 $button-shadow-size 0 $govuk-inverse-button-shadow-colour;

	&,
	&:link,
	&:visited,
	&:active,
	&:hover {
		color: $govuk-inverse-button-text-colour;
	}

	// alphagov/govuk_template includes a specific a:link:focus selector
	// designed to make unvisited links a slightly darker blue when focussed, so
	// we need to override the text colour for that combination of selectors so
	// so that unvisited links styled as buttons do not end up with dark blue
	// text when focussed.
	@include _govuk-compatibility(govuk_template) {
		&:link:focus {
			color: $govuk-inverse-button-text-colour;
		}
	}

	&:hover {
		background-color: $govuk-inverse-button-hover-colour;

		&[disabled] {
			background-color: $govuk-inverse-button-colour;
		}
	}
}