$app-header-background: govuk-colour("black");
$app-header-border-color: govuk-colour("pink");

.govuk-header--internal {
	background: $app-header-background;

	.govuk-header__container {
		padding: 0;
		border-bottom-color: $app-header-border-color;
	}

	.govuk-header__logo {
		white-space: nowrap;
		width: auto;
		padding: govuk-spacing(1) govuk-spacing(2) govuk-spacing(1) 0;
		margin: 0;
	}

	.govuk-header__logotype-text {
		@include govuk-font(27, bold);
		position: relative;
		top: -8px;
		left: -1px;

		@include govuk-media-query($from: tablet) {
			position: initial;
			display: inline-block;
		}
	}

	.govuk-header__product-name {
		@include govuk-font(24);
		position: absolute;
		left: 45px;
		bottom: 0;

		@include govuk-media-query($from: tablet) {
			position: initial;
			display: inline-block;

			// Remove before if you don't like the separator
			&:before {
				content: "";
				display: inline-block;
				background-color: #fff;
				width: 1px;
				height: 25px;
				position: relative;
				top: 3px;
				left: 0;
				margin-right: 4px;
			}
		}
	}

	.govuk-header__link {
		position: relative;

		@include govuk-media-query($from: tablet) {
			line-height: 38px;
		}
	}

	.govuk-header__content {
		width: auto;

		@include govuk-media-query($from: desktop) {
			float: right;
		}

		.govuk-header__navigation {
			margin-bottom: 0;
		}
	}

	.govuk-header__menu-button {
		height: 46px;
		top: 0;
	}
}

