{% extends "layouts/main.html" %}

{% set title = 'Check your phone' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  {{ govukInsetText({
    html: 'We have sent a code to your phone number ending with <strong>137</strong>'
  }) }}

  <p>It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

  {{ govukInput({
    id: 'onelogin-onetimecode',
    name: 'onelogin-onetimecode',
    value: data['onelogin-onetimecode'],
    classes: 'govuk-input--width-10',
    label: {
      html: 'Enter the 6 digit security code'
    }
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    html: 'Continue'
  }) }}

  {{ govukDetails({
    summaryHtml: 'Problems with the code?',
    html: '<p>We can <a href="#0">send the code agai</a>n if the code is not working or you did not receive it.</p><p>If you cannot access the phone number for your GOV.UK One Login, you can securely <a href="#0">change how you get security codes</a>.</p>'
  }) }}
{% endblock %}
