{% extends "layouts/main.html" %}
{% set back = false %}

{% set title = 'Create your GOV.UK One Login or sign in' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p>You can use your GOV.UK One Login to access some government services.</p>

      <p>In the future, you&rsquo;ll be able to use it to access all services on GOV.UK.</p>

      <p>You&rsquo;ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
      </ul>

      {{ govukInsetText({
        html: 'You can also <a href="#0">use GOV.UK One Login in Welsh (Cymraeg)</a>.'
      }) }}

      {{ govukButton({
        html: 'Create your GOV.UK One Login'
      }) }}

      <div>
        {{ govukButton({
          html: 'Sign in',
          classes: 'govuk-button--secondary',
          href: 'enter-email'
        }) }}

        <p><a href="#0">Services you can use with GOV.UK One Login (opens in new tab)</a></p>
      </div>

    </div>
  </div>
{% endblock %}
