{% extends "layouts/main.html" %}

{% set title = 'Check your details before creating your account' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          html: 'Account type'
        },
        value: {
          html: 'Individual'
        },
        actions: {
          items: [
            {
              href: '../account-type?change',
              text: 'Change',
              visuallyHiddenText: ' Account type'
            }
          ]
        }
      },
      {
        key: {
          html: 'Name'
        },
        value: {
          html: data['name'] or 'Ann Example'
        },
        actions: {
          items: [
            {
              href: 'name?change',
              text: 'Change',
              visuallyHiddenText: ' Name'
            }
          ]
        }
      },
      {
        key: {
          html: 'Company'
        },
        value: {
          html: data['company-name'] or 'No'
        },
        actions: {
          items: [
            {
              href: 'company?change',
              text: 'Change',
              visuallyHiddenText: ' company'
            }
          ]
        }
      }
    ]
  }) }}




  <h2 class="govuk-heading-m">
    Declaration
  </h2>

  <p class="govuk-!-margin-bottom-2">By creating this account you are confirming that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the information you will give about all short term lets is complete and correct</li>
    <li>you have the property owner&rsquo;s consent to provide their information</li>
    <li>you have confirmed your client has authorisation under any rental, lease or other agreement to use the property or properties for short-term letting</li>
    <li>your client is aware that the property may be subject to random spot checks or inspections to verify the accuracy of the details provided</li>
    <li>you are over 18 years of age</li>
    <li>you will not use the fact that you have an agent account to suggest or imply that DCMS or any other government body endorses you or that you are acting on their behalf</li>
  </ul>

{% endblock %}

{% block buttons %}
  {{ govukButton({
    html: 'Agree and create account'
  }) }}
{% endblock %}
