{% extends "layouts/main.html" %}

{% set title = 'Do you operate via a registered company?' %}

{% block questions %}
  {% set companyName %}
    {{ govukInput({
      id: 'company-name',
      name: 'company-name',
      value: data['company-name'],
      label: {
        html: 'Company name'
      },
      spellcheck: false
    }) }}
  {% endset -%}


  {{ govukRadios({
    idPrefix: 'company-check',
    name: 'company-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('company-check','Yes'),
        conditional: {
          html: companyName
        }
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('company-check','No')
      }
    ]
  }) }}
{% endblock %}