{% set menuButtonText = params.menuButtonText if params.menuButtonText else 'Menu' %}

<header class="govuk-header govuk-header--internal {{ params.classes if params.classes }}" role="banner" data-module="govuk-header"
				{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
	<div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
		<div class="govuk-header__logo">
			<a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
				<span class="govuk-header__logotype">
					{% include './logo.svg' %}
					<span class="govuk-header__logotype-text">
						{{ params.organisationName | default('Department') }}
					</span>
				</span>
				{% if (params.productName) %}
				<span class="govuk-header__product-name">
					{{ params.productName }}
				</span>
				{% endif %}
			</a>
		</div>
		{% if params.navigation  %}
		<div class="govuk-header__content">
			<nav aria-label="{{ params.navigationLabel | default(menuButtonText) }}" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}">
				<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="{{ params.menuButtonLabel | default('Show or hide menu') }}" hidden>{{ menuButtonText }}</button>

				<ul id="navigation" class="govuk-header__navigation-list">
					{% for item in params.navigation %}
						{% if item.text or item.html %}
							<li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
								{% if item.href %}
									<a class="govuk-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
								{% endif %}
									{{ item.html | safe if item.html else item.text }}
								{% if item.href %}
									</a>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</div>
		{% endif %}
	</div>
</header>
{#




<header class="app-c-layout-header govuk-header role="banner" data-module="govuk-header" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
	<div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
		<div class="govuk-header__logo">
			<a href="{{ params.href | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
				<span class="govuk-header__logotype">
					{% include './logo.svg' %}
					<span class="govuk-header__logotype-text">
						{{- params.organisationName.html | safe if params.organisationName.html else params.organisationName.text | default('Department name') -}}
					</span>
				</span>

				<span class="govuk-header__product-name">
					{{- params.serviceName.html | safe if params.serviceName.html else params.serviceName.text -}}
				</span>
			</a>

		</div>

		{%- if params.navigation %}
			<div class="govuk-header__content">
				<button role="button" class="govuk-header__menu-button app-c-header__menu-button govuk-js-header-toggle" aria-controls="{{ params.navigation.id | default('navigation') }}" aria-label="Show or hide Top Level Navigation">Menu</button>

				<nav class="govuk-header__navigation govuk-header__navigation--end">
					<ul id="{{ params.navigation.id | default('navigation') }}" class="govuk-header__navigation govuk-header__navigation--end {{ params.navigation.classes if params.navigation.classes }}" aria-label="{{ params.navigation.label }}">
						{%- for item in params.navigation.items %}
							<li class="govuk-header__navigation-item {{- ' govuk-header__navigation-item--active' if item.active }} {{- ' govuk-header__navigation-item--collapsed-menu-only' if item.collapsedMenuOnly }}">
								<a class="govuk-header__link" href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
									{{- item.html | safe if item.html else item.text -}}
								</a>
							</li>
						{% endfor -%}
					</ul>
				</nav>

			</div>
		{% endif -%}
	</div>
</header> #}
