{% extends "layouts/main.html" %}

{% set back = false %}
{% set title = 'Home' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ serviceName }}
        </span>
        {{ title }}
      </h1>

      <p>{{ serviceName }} is a community resource of the <a href="http://prototype-kit.service.gov.uk/">GOV.UK Prototype Kit</a>. The Prototype Kit team is not responsible for it and cannot support you with using it.</p>

      <p>If you&rsquo;ve got a question, need support, or want to contribute you can <a href="https://github.com/chrisadesign/govuk-prototype-kit/issues">create an issue on GitHub</a>.</p>



      <h2 class="govuk-heading-m">
        About
      </h2>

      <p class="govuk-!-margin-bottom-2">This starter has added:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          a <a href="versioning-documentation">feature and versioning system</a>
        </li>
        <li>
          a layout with question structure setup and a new <code>questions</code> block
        </li>
        <li>
          an internal layout which uses a custom header component (<a href="example-internal-page">example internal page</a>)
        </li>
        <li>
          the <a href="https://github.com/alphagov/accessible-autocomplete">accessible autocomplete component</a> – you can upgrade any select by adding the <code>'js-autocomplete'</code> class
        </li>
        <li>
          an inverse button to use on dark backgrounds, <code>'govuk-button--inverse'</code>
        </li>
        <li>
          a link in the footer to the current page on your hosted prototype
        </li>
        <li>
          a link in the footer to the git repository
        </li>
      </ul>

      <p>The department name for internal header, and both the hosted prototype and the repo URLs are set in <code>session-data-defaults.js</code>.</p>

    </div>
  </div>
{% endblock %}
