{% extends "layouts/main.html" %}
{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prototypes
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link--no-visited-state" href="account-creation/">Account creation</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="add-property/">Add a property/let</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <p>There are also short flows for <a class="govuk-link--no-visited-state" href="govuk-pay/">GOV.UK Pay</a> and <a class="govuk-link--no-visited-state" href="one-login/">One Login</a> which can be integrated into other prototype flows.</p>

    </div>
  </div>
{% endblock %}
