{% extends "layouts/one-login.html" %}

{% set title = 'What type of accomodation is the let?' %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'accomodation-type',
    name: 'accomodation-type',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'House',
        value: 'House',
        checked: checked('accomodation-type','House')
      },
      {
        html: 'Flat',
        value: 'Flat',
        checked: checked('accomodation-type','Flat')
      },
      {
        html: 'Single room',
        value: 'Single room',
        checked: checked('accomodation-type','Single room')
      },
      {
        html: 'External building',
        value: 'External building',
        hint: {
          html: 'For example, a gate house or tree house'
        },
        checked: checked('accomodation-type','External building')
      }
    ]
  }) }}
{% endblock %}