{% extends "layouts/one-login.html" %}

{% set title = 'Select an address' %}

{% block questions %}
  {# Create empty array #}
  {% set addressItems = [] %}

  {# Push a range of addresses into the array #}
  {% for i in range(1, 17) %}
    {% set addressItems = addressItems | push ({
      value: i + ' Kenmore West, Steedwick, ' + (data['address-postcode'] or 'NE65 2GF'),
      text: i + ' Kenmore West, Steedwick, ' + (data['address-postcode'] or 'NE65 2GF'),
      selected: true if data['address'] == i
    }) %}
  {% endfor %}

  {# Pull in the array as items #}
  {{ govukRadios({
    id: 'address',
    name: 'address',
    classes: 'govuk-radios--small',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    formGroup: {
      beforeInputs: {
        html: '<p>16 addresses found for <b>' + (data['address-postcode'] or 'NE65 2GF') + '</b></p>'
      }
    },
    items: addressItems
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    html: 'Save and continue'
  }) }}

  <p><a class="govuk-link--no-visited-state" href="address--manual">Manually enter address</a></p>
{% endblock %}
