{% extends "layouts/main.html" %}

{# Add a body class to override things if needed #}
{% set bodyClasses = 'internal' %}


{# Add the title(h1) to page title if it's set, add to each page with:
{% set title = 'Example' %} #}
{% block pageTitle %}
	{{ title+' –' if title }} {{ serviceName }} – {{ data['department-name'] }}
{% endblock %}


{% from 'components/header/macro.njk' import appHeader %}
{% block header %}
	{# Add nav with just sign out by default, remove on pages that don't need it with:
	{% set nav = false %} #}
	{# {{ appHeader({
		organisationName: {
			html: data['department-name']
		},
		serviceName: {
			html: serviceName
		},
		navigation: {
			label: 'Primary navigation',
			items: [
				{
					text: 'Sign out',
					href: '/#0'
				}
			]
		} if nav != false
	}) }} #}

	{{ appHeader({
		organisationName: data['department-name'],
		homepageUrl: '/',
		productName: serviceName,
		serviceUrl: '',
		navigation: [
			{
				href: '#support',
				text: 'Support'
			},
			{
				href: '#account',
				text: 'Your account'
			},
			{
				href: '#sign-out',
				text: 'Sign out'
			}
		]
	}) }}
{% endblock %}
